{{> header}}

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<h1>Vaš profil</h1>
<h2>Ime: {{username}}</h2>

<h2>Mail: {{email}}</h2>
<!--
<br><a type="button" href="http://localhost:3000/questions/dodaj">Objavi vprašanje </a>
<br><a type="button" href="http://localhost:3000/questions/all">Vprašanja </a>
<br><a type="button" href="http://localhost:3000/questions/">Moja Vprašanja </a>
<br><a type="button" href="http://localhost:3000/">Domov </a>-->