{{> header}}

<link rel="stylesheet" href="/css/bootstrap.min.css" />

<p>Podravljeni v backend API v projektni nalogi: </p>



Hardcode vnos ceste

<br><br>
<form action="/cesta/" method="post" >
  <div class="form-group">
    <input type="text"  name="Longitude" placeholder="Longitude" >
  </div>
   <div class="form-group">
    <input type="text"  name="Latitude" placeholder="Latitude" >
  </div>
   <div class="form-group">
    <input type="text"  name="Altitude" placeholder="Altitude" >
  </div>
   <div class="form-group">
    <input type="text"  name="user_id"  placeholder="user_id">
  </div>
   
 <div class="tp">
        <input type="submit" value="Dodaj">
    </div>
</form>